@charset "UTF-8";
@charset "UTF-8"; 

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    
  background-size: cover;
  height:100%;
}

#feedback-page{
	text-align:center;
}

form{
	border: 2px solid #000;
	border-radius: 13px;
}
#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	
	background-color:rgba(72,72,72,0.4);
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
	 border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	width: 130px;
	text-align: center;
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
		 border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}


#comment{
	
	text-align: center;
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
		 border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
	
}

textarea {
	
    width: 80%;
    line-height: 150%;
    resize:vertical;
    margin-left: 38px;
     
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	text-decoration: none;
	margin-left: 55px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 30%;
	border: #fbfbfb solid 2px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:8px;
	padding-top:12px;
	padding-bottom:12px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:400;
  	 border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}

	
.submit:hover {
	color: #3498db;
}
a {
    color: #FFF;
    }
    
    #container {
    
        padding-left: 35px;
   
    }
    
    nav {
    margin: 50px 0;
    background-color: black;
    }
    
    nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    }
    
    nav ul li {
    display: inline-block;
    background-color: black;
    }
    
    nav a {
    display: block;
    padding: 0 10px;
    color: white;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    }
    
    nav a:hover {
    background-color: gray;
    }
    
    
    nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    }
    
    
    nav ul li:hover > ul {
    display: inherit;
    }
    
    /* Fisrt Tier Dropdown */
    nav ul ul li {
    width: 250px;
    float: none;
    display: list-item;
    position: relative;
    }
    .sign{
        float: right;
    }
    

    
    